# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Testing
coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
README.md
LICENSE
*.md 